<div class="footer">
    <div class="container">
        <div class="span12">
            <div class="span7">
                <ul class="footer-links unstyled">
                    <li><a href="{% url 'page_about' %}">About</a></li>
                    <li><a href="{% url 'page_contact' %}">Contact</a></li>
                    <li><a href="{% url 'page_guidelines' %}">Guidelines</a></li>
                    <li><a href="{% url 'page_license' %}">License</a></li>
                    <li>&copy; 2017 Einsteinish</li>
                </ul>
            </div>
            <div class="span4">
                <ul class="pull-right footer-links unstyled social-links">
                    <li><a href="https://www.facebook.com/groups/950341178372856/"><i class="icon-facebook icon-2x"></i></a></li>
                    <li><a href="https://twitter.com/einstein_ish"><i class="icon-twitter icon-2x"></i></a></li>
                    <li><a href="https://plus.google.com/111664369941456137911/" rel="publisher"><i class="icon-google-plus icon-2x"></i></a></li>
                    <li><a href="https://github.com/Einsteinish"><i class="icon-github icon-2x"></i></a></li>
                    <li><a href="mailto:kihyuck.hong@gmail.com"><i class="icon-envelope icon-2x"></i></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>

