{% load check_active check_active_button from einsteinish %}
<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn {% check_active_button request.get_full_path 'all' %}" href="{% url 'resource_topic_list_all' slug=current_topic.slug %}">All</a>
        <a class="btn {% check_active_button request.get_full_path 'book' %}" href="{% url 'resource_topic_list' slug=current_topic.slug res_type="book" %}">Books</a>
        <a class="btn {% check_active_button request.get_full_path 'online' %}" href="{% url 'resource_topic_list' slug=current_topic.slug res_type="magazine" %}">Magazines</a>
        <a class="btn {% check_active_button request.get_full_path 'other' %}" href="{% url 'resource_topic_list' slug=current_topic.slug res_type="video" %}">Videos</a>
        <a class="btn {% check_active_button request.get_full_path 'other' %}" href="{% url 'resource_topic_list' slug=current_topic.slug res_type="research" %}">Reserches</a>
        <a class="btn {% check_active_button request.get_full_path 'other' %}" href="{% url 'resource_topic_list' slug=current_topic.slug res_type="photo" %}">Photos</a>
        <a class="btn {% check_active_button request.get_full_path 'other' %}" href="{% url 'resource_topic_list' slug=current_topic.slug res_type="art" %}">Arts</a>
        <a class="btn {% check_active_button request.get_full_path 'other' %}" href="{% url 'resource_topic_list' slug=current_topic.slug res_type="movie" %}">Movies</a>
    </div>
    <div class="btn-group pull-right">
        <button class="btn">Level: </button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="{% check_active request.get_full_path 'all' %}"><a href="?level=all">All</a></li>
                <li class="{% check_active request.get_full_path 'introductory' %}"><a href="?level=introductory">Introductory</a></li>
                <li class="{% check_active request.get_full_path 'intermediate' %}"><a href="?level=intermediate">Intermediate</a></li>
                <li class="{% check_active request.get_full_path 'in-depth' %}"><a href="?level=in-depth">In-depth</a></li>
        </ul>
    </div>
</div>
