{% extends "base.html" %}

{% block content %}
<div class="home-content">
<div class="row-fluid">
    <div class="span12 jumbotron mast-head">
        <br><br>
        <h1>Hub to view </h1>
        <h1>Universe & Quantum World</h1>
        <p class="lead">Want to know more about the Universe, but wasted a lot of time in finding the right resource? We have the best resources curated for you.</p>
        <a href="{% if user.is_authenticated %}{% url 'resource_home' %}{% else %}{% url 'registration_register' %}{% endif %}" class="btn btn-danger register-button btn-large"> Register Now <i class="icon-double-angle-right"></i></a> 
        <br>
        <br>
        <br>
        <!-- Place this tag where you want the widget to render. -->
        <div class="g-person" data-width="304" data-href="//plus.google.com/111664369941456137911" data-rel="author"></div>

        <!-- Place this tag after the last widget tag. -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
        <br><br>

    </div>
</div>
<div class="row-fluid">
<div class="marketing marketing-head">
    <h2>What will you get?</h2>

    <div class="media">
        {% load static from staticfiles %}
        <img src="{% static 'img/thumbs-up.png' %}"  height=128 width=128 alt="most recommended" class="pull-left img-circle" />
        <div class="media-body">
            <h4 class="media-heading">Most recommended attractions from experts</h4>
            Web is full of articles, short videos from people explaining places. But how do you know which ones are best to follow? We have the best recommended resources from experts curated just for you.
        </div>
    </div>

    <div class="media">
        {% load static from staticfiles %}
        <img src="{% static 'img/Share.png' %}" height=128 width=128 alt="share resources" class="pull-left img-circle" />
        <div class="media-body">
            <h4 class="media-heading">Learn with others</h4>
            Share your photos/pictures with others. Show what you have made, ask opinions from peers and experts. We have study groups around a topic to help you.
        </div>
    </div>
</div>
</div>

<div class="row-fluid">
    <div class="marketing marketing-head">
        <h2>Checkout the most popular topics:</h2>
        <div class="row-fluid topic-images">
            <ul class="unstyled">
                {% load static from staticfiles %}
                <li class="span2"><a href="{% url 'resource_topic_home' slug='andromeda-milkyway-collision' %}"><img src="{% static "img/Andromeda-Milky-Collision-Thumb.png" %}" alt="andromeda-milkyway-collision" /></a></li>
                <li class="span2"><a href="{% url 'resource_topic_home' slug='blackhole' %}"><img src="{% static "img/Blackhole-Thumb.jpg" %}" alt="blackhole" /></a></li>
                <li class="span2"><a href="{% url 'resource_topic_home' slug='string-theory' %}"><img src="{% static "img/StringTheory-Thumb.gif" %}" alt="string-theory-gif" /></a></li>
                <li class="span2"><a href="{% url 'resource_topic_home' slug='supernova' %}"><img src="{% static "img/SuperNova-SN1994D-Thumb.jpg" %}" alt="supernova-SN1994D" /></a></li>
                <li class="span2"><a href="{% url 'resource_topic_home' slug='quantum-entanglement' %}"><img src="{% static "img/QuantumEntanglement-Thumb.jpg" %}" alt="quantum-entanglement" /></a></li>
                <li class="span2"><a href="{% url 'resource_topic_home' slug='multiverse' %}"><img src="{% static "img/Multiverse-Thumb.jpg" %}" alt="multiverse" /></a></li>
                <li class="span2"><a href="{% url 'resource_topic_home' slug='universe-scale' %}"><img src="{% static "img/UniverseScale-Thumb.png" %}" alt="universe-scale" /></a></li>
            </ul>
            </ul>
        </div>

        <div class="btn-group">
        <br>
        <a href="{% url 'page_about' %}" class="btn btn-success btn-large"><i class="icon-info"></i> Know More</a>

        </div>

    </div>
</div>
</div>
{% endblock %}
